* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

*:after, *:before {
  box-sizing: inherit;
}

+ html,
body {
  max-width: 100%;
  scroll-behavior: smooth;
}

.font__league {
  font-family: "League Spartan", sans-serif;
  font-weight: bolder;
}

.slider {
  background-color: #1f1f1f;
  transition: 0.3s background-image;
  align-items: center;
  background-image: url(image/slider1.png);
  background-position: left 53% top 0;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 65px 25px 25px 25px;
  position: relative;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 481px) {
  .slider {
    padding: 85px 25px 25px 25px;
  }
}
@media screen and (min-width: 769px) {
  .slider {
    padding: 185px 25px 55px 25px;
  }
}
@media screen and (min-width: 1025px) {
  .slider {
    padding: 185px 25px 85px 37px;
  }
}
@media screen and (min-width: 1025px) {
  .slider__content {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    max-width: 1170px;
    padding-left: 120px;
  }
}
@media screen and (min-width: 1480px) {
  .slider__content {
    padding-left: 0;
  }
}

@media screen and (min-width: 481px) {
  .slider__slogan {
    padding: 0 10% 0 10%;
  }
}
.slider__slogan--text {
  color: white;
  font-size: 36px;
  line-height: 48px;
}
@media screen and (min-width: 481px) {
  .slider__slogan--text {
    font-size: 48px;
    line-height: 50px;
  }
}
@media screen and (min-width: 769px) {
  .slider__slogan--text {
    font-size: 55px;
    line-height: 58px;
    margin: auto;
    width: 75%;
  }
}
@media screen and (min-width: 1025px) {
  .slider__slogan--text {
    margin: 0;
    text-align: left;
  }
}
.slider__slogan--name {
  color: #d8d8d8;
  font-size: 24px;
  padding-bottom: 8px;
}
@media screen and (min-width: 481px) {
  .slider__slogan--name {
    font-size: 30px;
    padding-bottom: 25px;
  }
}
@media screen and (min-width: 1025px) {
  .slider__slogan--name {
    text-align: left;
  }
}

.redirection {
  width: 100%;
  font-weight: bolder;
  font-size: 14px;
}
.redirection__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 45px;
}
@media screen and (min-width: 481px) {
  .redirection__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px 0 50px 0;
  }
}
@media screen and (min-width: 769px) {
  .redirection__container {
    margin: 60px 0 75px 0;
  }
}
@media screen and (min-width: 1025px) {
  .redirection__container {
    justify-content: flex-start;
    margin: 65px 0 115px 0;
  }
}
.redirection__btn {
  align-items: center;
  display: flex;
  height: 55px;
  justify-content: center;
  max-width: 300px;
  margin-bottom: 17px;
  width: 100%;
}
@media screen and (min-width: 481px) {
  .redirection__btn:first-child {
    margin-right: 10px;
  }
}
@media screen and (min-width: 481px) {
  .redirection__btn {
    max-width: 220px;
    margin: 20px 0 0 0;
  }
}
@media screen and (min-width: 769px) {
  .redirection__btn {
    max-width: 240px;
    margin-top: 0;
  }
}
.redirection__btn--yellow {
  background-color: #f8db14;
  color: #000000;
  text-decoration: none;
}
.redirection__btn--black {
  background-color: rgba(0, 0, 0, 0.51);
  color: #f8db14;
}
.redirection__arrow--text {
  color: white;
  font-size: 16px;
  padding-bottom: 25px;
}
.redirection__arrow--icon {
  display: flex;
  justify-content: center;
  margin: 20px 0 45px 0;
}

@media screen and (min-width: 481px) {
  .services {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1025px) {
  .services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.service {
  align-items: center;
  background-position: left 53% top -30px;
  background-repeat: no-repeat;
  display: flex;
  height: 250px;
  justify-content: center;
}
@media screen and (min-width: 769px) {
  .service {
    background-position: center;
    background-size: cover;
  }
}
.service__painting {
  background-image: url(image/painting_v.png);
}
.service__paperhanging {
  background-image: url(image/paperhanging_v.png);
}
.service__tiling {
  background-image: url(image/laying_tiles_v.png);
}
.service__stackingPanels {
  background-image: url(image/stacking_panels_v.png);
}
.service__btn {
  align-items: center;
  border: 2px solid #f8db14;
  color: #f8db14;
  font-family: "League Spartan", sans-serif;
  font-size: 24px;
  font-weight: bold;
  justify-content: center;
  padding: 20px 25px 20px 25px;
  text-align: center;
  text-decoration: none;
}
.service__btn--short {
  max-width: 220px;
}
.service__btn--long {
  max-width: 180px;
}

.recommendations {
  background-color: #1f1f1f;
  font-family: "League Spartan", sans-serif;
  font-size: 14px;
  padding: 15px 25px 15px 25px;
}
@media screen and (min-width: 481px) {
  .recommendations {
    padding: 15px 30px 15px 30px;
  }
}
@media screen and (min-width: 769px) {
  .recommendations {
    display: flex;
    justify-content: space-evenly;
    padding: 35px 40px 35px 40px;
  }
}
@media screen and (min-width: 1025px) {
  .recommendations {
    padding: 80px 40px 80px 40px;
    justify-content: center;
  }
}

.recommendation {
  align-content: center;
  align-items: center;
  border: 1px solid #333333;
  display: flex;
  flex-direction: column;
  line-height: 25px;
  margin: 15px 0;
  padding: 0 40px 33px 40px;
  text-align: center;
}
@media screen and (min-width: 769px) {
  .recommendation {
    margin: 0;
    padding: 0 25px 33px 25px;
  }
}
@media screen and (min-width: 1025px) {
  .recommendation {
    max-width: 450px;
  }
}
@media screen and (min-width: 769px) {
  .recommendation:nth-child(1) {
    margin-right: 15px;
  }
}
@media screen and (min-width: 1025px) {
  .recommendation:nth-child(1) {
    margin-right: 15px;
  }
}
@media screen and (min-width: 769px) {
  .recommendation:nth-child(2) {
    margin-right: 15px;
  }
}
@media screen and (min-width: 1025px) {
  .recommendation:nth-child(2) {
    margin-right: 15px;
  }
}
.recommendation__image {
  margin: 33px 0;
}
.recommendation__name {
  color: #595959;
  font-weight: bold;
  text-transform: uppercase;
}
.recommendation__opinion {
  color: #c6c6c6;
}

.realizations {
  font-size: 20px;
  padding: 40px 25px 15px 25px;
}
@media screen and (min-width: 481px) {
  .realizations {
    padding: 60px 30px 15px 30px;
  }
}
@media screen and (min-width: 769px) {
  .realizations {
    padding: 60px 37px 15px 37px;
  }
}
@media screen and (min-width: 1025px) {
  .realizations {
    padding: 80px 37px 65px 37px;
    max-width: 1170px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
}
@media screen and (min-width: 769px) {
  .realizations__header {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
  }
}
@media screen and (min-width: 1025px) {
  .realizations__header {
    display: grid;
    grid-template-columns: 1fr;
    margin-right: 40px;
  }
}
.realizations__title {
  font-family: "League Spartan", sans-serif;
  font-size: 30px;
  font-weight: 900;
  padding-bottom: 30px;
  text-transform: uppercase;
}
@media screen and (min-width: 481px) {
  .realizations__title {
    padding-right: 20px;
  }
}
@media screen and (min-width: 769px) {
  .realizations__title {
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1025px) {
  .realizations__title {
    padding-bottom: 35px;
  }
}
.realizations__describe {
  color: #585858;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 25px;
}
.realizations__btn {
  display: flex;
  justify-content: space-between;
  padding: 35px 0 45px 0;
}
@media screen and (min-width: 1025px) {
  .realizations__btn {
    flex-direction: column;
  }
}
.realizations__btn--more {
  color: #f8db14;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}
@media screen and (min-width: 1025px) {
  .realizations__btn--more {
    margin-top: 30px;
  }
}
.realizations__btn--arrow {
  padding-right: 20px;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 769px) {
  .realizations__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
  }
}

.realization {
  display: none;
  grid-template-rows: 2.3fr 1.8fr;
  margin-bottom: 15px;
}
@media screen and (min-width: 481px) {
  .realization {
    grid-template-columns: 4fr 3.2fr;
    grid-template-rows: 1fr;
  }
}
@media screen and (min-width: 769px) {
  .realization {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
.realization__frame {
  background-position: left 20% top 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.realization__frame--image {
  position: relative;
  transform: translate(-12%, -23%);
  width: 130%;
}
@media screen and (min-width: 481px) {
  .realization__frame--image {
    position: center;
    transform: translate(-12%, 0);
    width: 200%;
  }
}
.realization__describe {
  border: 1px solid #e9e9e9;
  padding: 35px 30px 35px 30px;
}
@media screen and (min-width: 481px) {
  .realization__describe {
    padding: 35px 30px 45px 30px;
  }
}
.realization__describe--title {
  font-family: "League Spartan", sans-serif;
  font-size: 18px;
  font-weight: 900;
  padding-bottom: 25px;
}
.realization__describe--text {
  color: #8c8c8c;
  font-size: 14px;
  line-height: 24px;
}

.tiles_1 {
  background-image: url(image/realisation1.png);
}

.tiles_2 {
  background-image: url(image/realisation2.png);
}

.tiles_3 {
  background-image: url(image/realisation3.png);
}

.tiles_4 {
  background-image: url(image/realisation4.png);
}

.tiles_5 {
  background-image: url(image/realisation5.png);
}

.tiles_6 {
  background-image: url(image/realisation6.png);
}

.tiles_7 {
  background-image: url(image/realisation7.png);
}

.tiles_8 {
  background-image: url(image/realisation8.png);
}

.mySlides {
  display: grid;
}

.slider__nav {
  left: 25px;
  right: 25px;
  width: calc(100% - 50px);
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  z-index: 4;
}
@media screen and (min-width: 481px) {
  .slider__nav {
    position: absolute;
    top: calc(48%);
  }
}
@media screen and (min-width: 769px) {
  .slider__nav {
    position: absolute;
    top: calc(42%);
  }
}
@media screen and (min-width: 1025px) {
  .slider__nav {
    left: 65px;
    right: 65px;
    width: calc(100% - 130px);
    position: absolute;
    top: calc(42%);
  }
}
.slider__nav--btn {
  background: none;
  cursor: pointer;
  width: 45px;
  height: 45px;
  border: 2px solid white;
}
.slider__nav--btn > img {
  width: 15px;
  height: 20px;
}
@media screen and (min-width: 769px) {
  .slider__nav--btn > img {
    width: 20px;
    height: 30px;
  }
}
@media screen and (min-width: 769px) {
  .slider__nav--btn {
    width: 80px;
    height: 80px;
  }
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

footer {
  font-family: "Roboto", sans-serif;
}

.footer__header {
  background-color: #f8db14;
  padding: 35px 25px 30px 25px;
}
@media screen and (min-width: 481px) {
  .footer__header {
    padding: 35px 30px 30px 30px;
  }
}
@media screen and (min-width: 769px) {
  .footer__header {
    padding: 35px 37px 30px 37px;
  }
}
@media screen and (min-width: 1025px) {
  .footer__header {
    padding: 35px 0 30px 0;
  }
}
@media screen and (min-width: 481px) {
  .footer__header--container {
    display: grid;
    grid-template-columns: 2.5fr 4fr;
  }
}
@media screen and (min-width: 769px) {
  .footer__header--container {
    grid-template-columns: 2.8fr 3.6fr;
  }
}
@media screen and (min-width: 1025px) {
  .footer__header--container {
    grid-template-columns: 3fr 3.7fr;
    max-width: 1170px;
    padding: 0 37px 0 37px;
    margin: auto;
  }
}
.footer__header--text {
  color: #aa9717;
  text-align: center;
  font-size: 18px;
  padding: 0 0 30px 0;
  line-height: 25px;
}
@media screen and (min-width: 481px) {
  .footer__header--text {
    text-align: left;
    padding: 0;
  }
}
@media screen and (min-width: 769px) {
  .footer__header--text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 22px;
  }
}
.footer__header--phone {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-direction: row;
  font-family: "League Spartan", sans-serif;
  font-weight: 900;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 481px) {
  .footer__header--phone {
    justify-content: flex-end;
  }
}
@media screen and (min-width: 769px) {
  .footer__header--phone {
    justify-content: flex-end;
  }
}
.footer__header--text--s {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  padding-right: 15px;
}
@media screen and (min-width: 769px) {
  .footer__header--text--s {
    padding-right: 25px;
    font-size: 18px;
  }
}
.footer__header--text--l {
  font-size: 24px;
  font-weight: bold;
  padding-left: 15px;
}
@media screen and (min-width: 769px) {
  .footer__header--text--l {
    padding-left: 25px;
  }
}
@media screen and (min-width: 1025px) {
  .footer__header--text--l {
    font-size: 30px;
  }
}

.footer_container {
  padding-right: 20px;
  padding-left: 25px;
}
@media screen and (min-width: 769px) {
  .footer_container {
    padding-left: 30px;
  }
}
@media screen and (min-width: 1025px) {
  .footer_container {
    padding-left: 37px;
  }
}

@media screen and (min-width: 769px) {
  .footer__wrap {
    display: grid;
    grid-template-columns: 1.8fr 1fr;
    width: 100%;
  }
}
@media screen and (min-width: 1025px) {
  .footer__wrap {
    max-width: 1170px;
    margin: auto;
  }
}

.footer {
  background-color: #000000;
  background-image: url("image/aaa.png");
  background-position: top -120px left -250px;
  background-repeat: no-repeat;
  position: relative;
}
@media screen and (min-width: 481px) {
  .footer {
    background-position: top -130px left -110px;
  }
}
@media screen and (min-width: 769px) {
  .footer {
    background-position: top -135px left -260px;
  }
}
@media screen and (min-width: 1025px) {
  .footer {
    background-position: top -130px left 0px;
  }
}
.footer__logo {
  border-bottom: 1px solid #1e1e1e;
  box-sizing: content-box;
  padding: 40px 0 35px 0;
}

.address__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 25px 0 25px 0;
}
@media screen and (min-width: 481px) {
  .address__container {
    grid-template-columns: 1.1fr 1fr 1.35fr;
  }
}
@media screen and (min-width: 769px) {
  .address__container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.address__text__bold {
  color: #a8a8a8;
  font-weight: bold;
  text-transform: uppercase;
}
.address__text__normal {
  color: #808080;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.2;
}
@media screen and (min-width: 481px) {
  .address__text__normal {
    font-size: 14px;
  }
}
.address__text__yellow {
  color: #f8db14;
}

.footer__social {
  border-bottom: 1px solid #1e1e1e;
  color: #808080;
  display: grid;
  font-size: 13px;
  font-weight: bold;
  grid-template-columns: 1fr 1fr;
  padding: 25px 0 25px 0;
  text-transform: uppercase;
}
@media screen and (min-width: 481px) {
  .footer__social {
    grid-template-columns: 2.1fr 1.35fr;
  }
}
@media screen and (min-width: 769px) {
  .footer__social {
    grid-template-columns: 1fr 2fr;
  }
}
.footer__social--icon:first-of-type {
  padding-right: 12px;
}
.footer__social--icon:nth-child(2) {
  padding-right: 12px;
}
.footer__social--title {
  font-family: "League Spartan", sans-serif;
  font-weight: 900;
  font-size: 13px;
  color: #666666;
}

.footer__nav {
  padding: 30px 0 30px 0;
  position: relative;
  z-index: 2;
}
.footer__nav--list {
  align-content: space-between;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}
.footer__nav--item {
  line-height: 25px;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.footer__map {
  background-image: url(image/map.png);
  background-position: left 20% top 0;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 250px;
  padding: 0;
}
.footer__map--btn {
  align-items: center;
  display: flex;
  filter: none;
  flex-direction: column;
  justify-content: center;
  min-height: 250px;
  z-index: 2;
}
@media screen and (min-width: 769px) {
  .footer__map--btn {
    align-items: flex-end;
    flex-direction: row-reverse;
    height: 100%;
    justify-content: flex-start;
    padding: 0 37px 30px 0;
  }
}
.footer__map--text {
  color: #f8db14;
  font-size: 14px;
  font-weight: bolder;
  margin-top: 20px;
  text-transform: uppercase;
}
@media screen and (min-width: 769px) {
  .footer__map--text {
    margin-bottom: 25px;
    padding-right: 15px;
  }
}

.footer__time4 {
  background-color: #1e1e1e;
  color: #545454;
  padding: 30px 0 30px 0;
  position: relative;
  z-index: 2;
}
.footer__time4--p {
  text-align: center;
  font-size: 12px;
}
.footer__time4--a {
  color: #7f7f7f;
  text-decoration: none;
}

.head {
  font-family: "League Spartan", sans-serif;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  padding: 30px 25px 30px 25px;
}
@media screen and (min-width: 481px) {
  .head {
    padding: 30px 30px 30px 30px;
  }
}
@media screen and (min-width: 769px) {
  .head {
    padding: 35px 37px 35px 37px;
  }
}
@media screen and (min-width: 1025px) {
  .head {
    margin: auto;
    max-width: 1170px;
    padding: 35px 37px 35px 37px;
  }
}
.head__hamburger {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
@media screen and (min-width: 769px) {
  .head__hamburger {
    display: none;
  }
}

.wrap {
  position: relative;
  right: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: all ease 500ms;
  -moz-transition: all ease 500ms;
  -o-transition: all ease 500ms;
  transition: all ease 500ms;
}

.wrap.open_menu_wrap {
  position: relative;
  right: 80%;
  width: 100%;
}
@media screen and (min-width: 481px) {
  .wrap.open_menu_wrap {
    right: 380px;
  }
}

.open_menu {
  top: 0;
  right: -80%;
  background-color: #2e2e2e;
  position: absolute;
  width: 80%;
  height: 100%;
  box-sizing: border-box;
  z-index: 100;
}
@media screen and (min-width: 481px) {
  .open_menu {
    right: -380px;
    width: 380px;
  }
}
.open_menu ul {
  font-weight: bolder;
  font-size: 24px;
  list-style: none;
}
@media screen and (min-width: 769px) {
  .open_menu ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
.open_menu ul li {
  border-bottom: 1px solid #363636;
  font-size: 23px;
  padding: 32px 0 32px 45px;
}
.open_menu ul li:nth-child(1) {
  align-items: center;
  cursor: pointer;
  color: #797979;
  display: flex;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.open_menu ul:hover {
  color: #000000;
}
.open_menu ul a {
  color: rgba(255, 255, 255, 0.902);
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
@media screen and (min-width: 769px) {
  .open_menu ul a {
    color: #4d4d4d;
    position: relative;
  }
}
.open_menu ul a:hover {
  color: #f8db14;
}
@media screen and (min-width: 769px) {
  .open_menu ul a:hover:before {
    border-bottom: 4px solid #f8db14;
    bottom: -46px;
    content: "";
    height: 1px;
    position: absolute;
    width: 100%;
  }
}

.menu {
  display: none;
  position: relative;
}
@media screen and (min-width: 769px) {
  .menu {
    display: flex;
    width: 65%;
  }
}
@media screen and (min-width: 1025px) {
  .menu {
    width: 60%;
  }
}
.menu__list--arrow {
  padding-right: 30px;
}
@media screen and (min-width: 769px) {
  .menu ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    font-weight: bold;
  }
}
.menu ul li:nth-child(1) {
  display: none;
}
.menu ul .active {
  color: #f8db14;
  transition: 0.15s all;
}
.menu ul .active:before {
  transition: 0.15s all;
}
@media screen and (min-width: 769px) {
  .menu ul .active:before {
    border-bottom: 4px solid #f8db14;
    bottom: -44px;
    content: "";
    height: 1px;
    position: absolute;
    width: 100%;
  }
}
@media screen and (min-width: 769px) {
  .menu ul a {
    color: #4d4d4d;
    font-size: 12px;
    font-weight: bolder;
    font-family: "League Spartan", sans-serif;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
  }
}
.menu ul a:hover {
  transition: 0.15s all;
  color: #f8db14;
}
.menu ul a:hover:before {
  transition: 0.15s all;
}
@media screen and (min-width: 769px) {
  .menu ul a:hover:before {
    border-bottom: 4px solid #f8db14;
    bottom: -44px;
    content: "";
    height: 1px;
    position: absolute;
    width: 100%;
  }
}

@font-face {
  font-family: "League Spartan";
  src: url("leaguespartan-bold.eot"), url("leaguespartan-bold.woff2") format("woff2"), url("leaguespartan-bold.woff") format("woff"), url("leaguespartan-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("roboto-v18-latin-regular.eot"), url("roboto-v18-latin-regular.woff2") format("woff2"), url("roboto-v18-latin-regular.woff") format("woff"), url("roboto-v18-latin-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*# sourceMappingURL=style.css.map */
