html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

*:after, *:before {
  box-sizing: inherit;
}

html, body {
  max-width: 100%;
}

.content {
  position: relative;
}

.article__title {
  color: #736718;
  font-family: "League Spartan", sans-serif;
  font-size: 30px;
  font-weight: 900;
  padding: 50px 25px 50px 25px;
  text-transform: uppercase;
}
@media screen and (min-width: 481px) {
  .article__title {
    padding: 50px 30px 50px 30px;
  }
}
@media screen and (min-width: 769px) {
  .article__title {
    padding: 50px 37px 50px 37px;
  }
}
@media screen and (min-width: 1025px) {
  .article__title {
    max-width: 1170px;
    margin: auto;
  }
}
.article__title:before {
  background-color: #f8db14;
  background-image: url(image/article_bg.png);
  background-position: left 53% top 0;
  background-size: cover;
  background-repeat: no-repeat;
  content: "";
  height: 134px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
@media screen and (min-width: 769px) {
  .article__container {
    display: grid;
    grid-template-columns: 6.3fr 2.95fr;
    grid-column-gap: 30px;
    padding: 80px 37px 0 37px;
  }
}
@media screen and (min-width: 1025px) {
  .article__container {
    max-width: 1170px;
    margin: auto;
  }
}
.article__content {
  padding: 0 25px 0 25px;
}
@media screen and (min-width: 481px) {
  .article__content {
    padding: 0 30px 0 30px;
  }
}
@media screen and (min-width: 769px) {
  .article__content {
    padding: 0;
  }
}
.article__content--header {
  color: #191919;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: normal;
  line-height: 34px;
  padding: 45px 0 40px 0;
}
@media screen and (min-width: 481px) {
  .article__content--header {
    padding: 45px 0 40px 0;
  }
}
@media screen and (min-width: 769px) {
  .article__content--header {
    padding: 0 0 40px 0;
  }
}
.article__content--text {
  color: #414141;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
  padding-bottom: 65px;
}
.article__content--img {
  padding-bottom: 30px;
  width: 100%;
}
@media screen and (min-width: 481px) {
  .article__content--img {
    padding: 0 40px 45px 40px;
  }
}
@media screen and (min-width: 481px) {
  .article__content--img {
    padding: 0 0 45px 0;
  }
}

aside {
  padding: 0 25px 0 25px;
}

.form {
  background-color: #000000;
  padding: 35px;
}
@media screen and (min-width: 481px) {
  .form {
    margin: 0 30px;
  }
}
@media screen and (min-width: 769px) {
  .form {
    margin: 0;
  }
}
.form__head {
  color: white;
  font-size: 18px;
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
  padding-bottom: 30px;
  text-transform: uppercase;
}
.form__input {
  border: none;
  margin-bottom: 10px;
  padding: 20px 25px 20px 25px;
  width: 100%;
}
.form__input--long {
  min-height: 95px;
}
@media screen and (min-width: 481px) {
  .form__input--group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
  }
}
@media screen and (min-width: 769px) {
  .form__input--group {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.form__button {
  background-color: #f8db14;
  border: none;
  color: #000000;
  font-weight: bolder;
  font-size: 14px;
  font-family: "League Spartan", sans-serif;
  outline: none;
  padding: 20px 25px 20px 25px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

input::placeholder, textarea::placeholder {
  color: #8f8f8f;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.info__content {
  background-color: #f0f0f0;
  margin: 25px 25px 0 25px;
  padding: 40px 35px 90px 35px;
}
@media screen and (min-width: 481px) {
  .info__content {
    margin: 25px 30px 0 30px;
    padding: 40px 35px 35px 35px;
  }
}
@media screen and (min-width: 769px) {
  .info__content {
    margin: 30px 0 0 0;
  }
}
.info__content--title {
  font-size: 18px;
  font-family: "League Spartan", sans-serif;
  font-weight: 800;
  line-height: 1.667;
  padding-bottom: 41px;
  text-transform: uppercase;
}
.info__content--header {
  color: #636363;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.666;
}
.info__content--p {
  color: #737373;
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
  padding-top: 40px;
}

.realizations {
  padding: 40px 25px 25px 25px;
}
@media screen and (min-width: 481px) {
  .realizations {
    padding: 60px 30px 50px 30px;
  }
}
@media screen and (min-width: 769px) {
  .realizations {
    padding: 35px 37px 70px 37px;
  }
}
@media screen and (min-width: 1025px) {
  .realizations {
    margin: auto;
    max-width: 1170px;
    padding: 35px 37px 80px 37px;
  }
}
.realizations__title {
  font-family: "League Spartan", sans-serif;
  font-size: 20px;
  font-weight: 900;
  padding-bottom: 55px;
  position: relative;
  text-transform: uppercase;
}
@media screen and (min-width: 481px) {
  .realizations__title {
    padding-right: 20px;
  }
}
@media screen and (min-width: 769px) {
  .realizations__title {
    padding-bottom: 55px;
  }
}
@media screen and (min-width: 1025px) {
  .realizations__title {
    padding-bottom: 55px;
  }
}
.realizations__title:after {
  content: "";
  background-color: #dedede;
  height: 1px;
  left: 0;
  position: absolute;
  top: 45px;
  width: 100%;
}
@media screen and (min-width: 769px) {
  .realizations__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
  }
}
@media screen and (min-width: 1025px) {
  .realizations__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
  }
}

.realization {
  display: none;
  grid-template-rows: 2.3fr 1.8fr;
  margin-bottom: 15px;
}
@media screen and (min-width: 481px) {
  .realization {
    grid-template-columns: 4fr 3.2fr;
    grid-template-rows: 1fr;
  }
}
@media screen and (min-width: 769px) {
  .realization {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
.realization__frame {
  background-position: left 20% top 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.realization__describe {
  border: 1px solid #e9e9e9;
  padding: 35px 30px 35px 30px;
}
@media screen and (min-width: 481px) {
  .realization__describe {
    padding: 35px 30px 45px 30px;
  }
}
@media screen and (min-width: 769px) {
  .realization__describe {
    padding: 35px 37px 45px 37px;
  }
}
.realization__describe--title {
  font-family: "League Spartan", sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 1.2;
  padding-bottom: 25px;
}
.realization__describe--text {
  color: #afafaf;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.714;
}
.realization__btn {
  margin: 20px 0 0 0;
}
.realization__btn--more {
  background-color: #f8db14;
  display: flex;
  justify-content: center;
  padding: 25px 0 25px 0;
  width: 100%;
  color: white;
  font-family: "League Spartan", sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
.realization__btn--more:focus {
  outline: none;
}

.tiles_1 {
  background-image: url(image/realisation1.png);
}

.tiles_2 {
  background-image: url(image/realisation2.png);
}

.tiles_3 {
  background-image: url(image/realisation3.png);
}

.tiles_4 {
  background-image: url(image/realisation4.png);
}

.tiles_5 {
  background-image: url(image/realisation5.png);
}

.tiles_6 {
  background-image: url(image/realisation6.png);
}

.tiles_7 {
  background-image: url(image/realisation7.png);
}

.tiles_8 {
  background-image: url(image/realisation8.png);
}

.services {
  font-family: "League Spartan", sans-serif;
  font-weight: 900;
  padding: 55px 25px 60px 25px;
  position: relative;
}
@media screen and (min-width: 481px) {
  .services {
    padding: 55px 30px 60px 30px;
  }
}
@media screen and (min-width: 769px) {
  .services {
    padding: 55px 37px 60px 37px;
  }
}
.services__title {
  color: #636363;
  font-size: 20px;
  line-height: 1.2;
  padding-bottom: 45px;
  text-transform: uppercase;
  text-align: center;
}
.services__content {
  align-content: center;
  display: grid;
  justify-items: center;
  margin: auto;
}
.services__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-columns: minmax(max-content, 300px);
  grid-row-gap: 10px;
  list-style: none;
  margin: auto;
  width: 100%;
}
@media screen and (min-width: 481px) {
  .services__list {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 16px;
    width: 100%;
  }
}
@media screen and (min-width: 769px) {
  .services__list {
    grid-template-columns: minmax(200px, 270px) minmax(200px, 270px) minmax(200px, 270px);
    grid-column-gap: 16px;
    width: auto;
  }
}
@media screen and (min-width: 1025px) {
  .services__list {
    grid-template-columns: minmax(200px, 230px) minmax(200px, 230px) minmax(200px, 230px);
  }
}
.services__list--item {
  align-content: center;
  border: 2px solid #000000;
  display: grid;
  font-size: 18px;
  height: 60px;
  line-height: 1.2;
  padding: 0 5px 0 5px;
  text-align: center;
}
.services:before {
  background-color: #efefef;
  background-image: url(image/services_bg.png);
  background-position: left 53% top 0;
  background-size: cover;
  background-repeat: no-repeat;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

footer {
  font-family: "Roboto", sans-serif;
}

.footer__header {
  background-color: #f8db14;
  padding: 35px 25px 30px 25px;
}
@media screen and (min-width: 481px) {
  .footer__header {
    padding: 35px 30px 30px 30px;
  }
}
@media screen and (min-width: 769px) {
  .footer__header {
    padding: 35px 37px 30px 37px;
  }
}
@media screen and (min-width: 1025px) {
  .footer__header {
    padding: 35px 0 30px 0;
  }
}
@media screen and (min-width: 481px) {
  .footer__header--container {
    display: grid;
    grid-template-columns: 2.5fr 4fr;
  }
}
@media screen and (min-width: 769px) {
  .footer__header--container {
    grid-template-columns: 2.8fr 3.6fr;
  }
}
@media screen and (min-width: 1025px) {
  .footer__header--container {
    grid-template-columns: 3fr 3.7fr;
    max-width: 1170px;
    padding: 0 37px 0 37px;
    margin: auto;
  }
}
.footer__header--text {
  color: #aa9717;
  text-align: center;
  font-size: 18px;
  padding: 0 0 30px 0;
  line-height: 25px;
}
@media screen and (min-width: 481px) {
  .footer__header--text {
    text-align: left;
    padding: 0;
  }
}
@media screen and (min-width: 769px) {
  .footer__header--text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 22px;
  }
}
.footer__header--phone {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-direction: row;
  font-family: "League Spartan", sans-serif;
  font-weight: 900;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 481px) {
  .footer__header--phone {
    justify-content: flex-end;
  }
}
@media screen and (min-width: 769px) {
  .footer__header--phone {
    justify-content: flex-end;
  }
}
.footer__header--text--s {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  padding-right: 15px;
}
@media screen and (min-width: 769px) {
  .footer__header--text--s {
    padding-right: 25px;
    font-size: 18px;
  }
}
.footer__header--text--l {
  font-size: 24px;
  font-weight: bold;
  padding-left: 15px;
}
@media screen and (min-width: 769px) {
  .footer__header--text--l {
    padding-left: 25px;
  }
}
@media screen and (min-width: 1025px) {
  .footer__header--text--l {
    font-size: 30px;
  }
}

.footer_container {
  padding-right: 20px;
  padding-left: 25px;
}
@media screen and (min-width: 769px) {
  .footer_container {
    padding-left: 30px;
  }
}
@media screen and (min-width: 1025px) {
  .footer_container {
    padding-left: 37px;
  }
}

@media screen and (min-width: 769px) {
  .footer__wrap {
    display: grid;
    grid-template-columns: 1.8fr 1fr;
    width: 100%;
  }
}
@media screen and (min-width: 1025px) {
  .footer__wrap {
    max-width: 1170px;
    margin: auto;
  }
}

.footer {
  background-color: #000000;
  background-image: url("image/aaa.png");
  background-position: top -120px left -250px;
  background-repeat: no-repeat;
  position: relative;
}
@media screen and (min-width: 481px) {
  .footer {
    background-position: top -130px left -110px;
  }
}
@media screen and (min-width: 769px) {
  .footer {
    background-position: top -135px left -260px;
  }
}
@media screen and (min-width: 1025px) {
  .footer {
    background-position: top -130px left 0px;
  }
}
.footer__logo {
  border-bottom: 1px solid #1e1e1e;
  box-sizing: content-box;
  padding: 40px 0 35px 0;
}

.address__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 25px 0 25px 0;
}
@media screen and (min-width: 481px) {
  .address__container {
    grid-template-columns: 1.1fr 1fr 1.35fr;
  }
}
@media screen and (min-width: 769px) {
  .address__container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.address__text__bold {
  color: #a8a8a8;
  font-weight: bold;
  text-transform: uppercase;
}
.address__text__normal {
  color: #808080;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.2;
}
@media screen and (min-width: 481px) {
  .address__text__normal {
    font-size: 14px;
  }
}
.address__text__yellow {
  color: #f8db14;
}

.footer__social {
  border-bottom: 1px solid #1e1e1e;
  color: #808080;
  display: grid;
  font-size: 13px;
  font-weight: bold;
  grid-template-columns: 1fr 1fr;
  padding: 25px 0 25px 0;
  text-transform: uppercase;
}
@media screen and (min-width: 481px) {
  .footer__social {
    grid-template-columns: 2.1fr 1.35fr;
  }
}
@media screen and (min-width: 769px) {
  .footer__social {
    grid-template-columns: 1fr 2fr;
  }
}
.footer__social--icon:first-of-type {
  padding-right: 12px;
}
.footer__social--icon:nth-child(2) {
  padding-right: 12px;
}
.footer__social--title {
  font-family: "League Spartan", sans-serif;
  font-weight: 900;
  font-size: 13px;
  color: #666666;
}

.footer__nav {
  padding: 30px 0 30px 0;
  position: relative;
  z-index: 2;
}
.footer__nav--list {
  align-content: space-between;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}
.footer__nav--item {
  line-height: 25px;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.footer__map {
  background-image: url(image/map.png);
  background-position: left 20% top 0;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 250px;
  padding: 0;
}
.footer__map--btn {
  align-items: center;
  display: flex;
  filter: none;
  flex-direction: column;
  justify-content: center;
  min-height: 250px;
  z-index: 2;
}
@media screen and (min-width: 769px) {
  .footer__map--btn {
    align-items: flex-end;
    flex-direction: row-reverse;
    height: 100%;
    justify-content: flex-start;
    padding: 0 37px 30px 0;
  }
}
.footer__map--text {
  color: #f8db14;
  font-size: 14px;
  font-weight: bolder;
  margin-top: 20px;
  text-transform: uppercase;
}
@media screen and (min-width: 769px) {
  .footer__map--text {
    margin-bottom: 25px;
    padding-right: 15px;
  }
}

.footer__time4 {
  background-color: #1e1e1e;
  color: #545454;
  padding: 30px 0 30px 0;
  position: relative;
  z-index: 2;
}
.footer__time4--p {
  text-align: center;
  font-size: 12px;
}
.footer__time4--a {
  color: #7f7f7f;
  text-decoration: none;
}

.head {
  font-family: "League Spartan", sans-serif;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  padding: 30px 25px 30px 25px;
}
@media screen and (min-width: 481px) {
  .head {
    padding: 30px 30px 30px 30px;
  }
}
@media screen and (min-width: 769px) {
  .head {
    padding: 35px 37px 35px 37px;
  }
}
@media screen and (min-width: 1025px) {
  .head {
    margin: auto;
    max-width: 1170px;
    padding: 35px 37px 35px 37px;
  }
}
.head__hamburger {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
@media screen and (min-width: 769px) {
  .head__hamburger {
    display: none;
  }
}

.wrap {
  position: relative;
  right: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: all ease 500ms;
  -moz-transition: all ease 500ms;
  -o-transition: all ease 500ms;
  transition: all ease 500ms;
}

.wrap.open_menu_wrap {
  position: relative;
  right: 80%;
  width: 100%;
}
@media screen and (min-width: 481px) {
  .wrap.open_menu_wrap {
    right: 380px;
  }
}

.open_menu {
  top: 0;
  right: -80%;
  background-color: #2e2e2e;
  position: absolute;
  width: 80%;
  height: 100%;
  box-sizing: border-box;
  z-index: 100;
}
@media screen and (min-width: 481px) {
  .open_menu {
    right: -380px;
    width: 380px;
  }
}
.open_menu ul {
  font-weight: bolder;
  font-size: 24px;
  list-style: none;
}
@media screen and (min-width: 769px) {
  .open_menu ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
.open_menu ul .active {
  color: #f8db14;
}
.open_menu ul li {
  border-bottom: 1px solid #363636;
  font-size: 23px;
  padding: 32px 0 32px 45px;
}
.open_menu ul li:nth-child(1) {
  align-items: center;
  cursor: pointer;
  color: #797979;
  display: flex;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.open_menu ul:hover {
  color: #000000;
}
.open_menu ul a {
  color: rgba(255, 255, 255, 0.902);
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
@media screen and (min-width: 769px) {
  .open_menu ul a {
    color: #4d4d4d;
    position: relative;
  }
}
.open_menu ul a:hover {
  color: #f8db14;
}
@media screen and (min-width: 769px) {
  .open_menu ul a:hover:before {
    border-bottom: 4px solid #f8db14;
    bottom: -46px;
    content: "";
    height: 1px;
    position: absolute;
    width: 100%;
  }
}

.menu {
  display: none;
  position: relative;
}
@media screen and (min-width: 769px) {
  .menu {
    display: flex;
    width: 65%;
  }
}
@media screen and (min-width: 1025px) {
  .menu {
    width: 60%;
  }
}
.menu__list--arrow {
  padding-right: 30px;
}
@media screen and (min-width: 769px) {
  .menu ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    font-weight: bold;
  }
}
.menu ul li:nth-child(1) {
  display: none;
}
.menu ul .active {
  color: #f8db14;
  transition: 0.15s all;
}
.menu ul .active:before {
  transition: 0.15s all;
}
@media screen and (min-width: 769px) {
  .menu ul .active:before {
    border-bottom: 4px solid #f8db14;
    bottom: -44px;
    content: "";
    height: 1px;
    position: absolute;
    width: 100%;
  }
}
@media screen and (min-width: 769px) {
  .menu ul a {
    color: #4d4d4d;
    font-size: 12px;
    font-weight: bolder;
    font-family: "League Spartan", sans-serif;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
  }
}
.menu ul a:hover {
  transition: 0.15s all;
  color: #f8db14;
}
.menu ul a:hover:before {
  transition: 0.15s all;
}
@media screen and (min-width: 769px) {
  .menu ul a:hover:before {
    border-bottom: 4px solid #f8db14;
    bottom: -44px;
    content: "";
    height: 1px;
    position: absolute;
    width: 100%;
  }
}

@font-face {
  font-family: "League Spartan";
  src: url("leaguespartan-bold.eot"), url("leaguespartan-bold.woff2") format("woff2"), url("leaguespartan-bold.woff") format("woff"), url("leaguespartan-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("roboto-v18-latin-regular.eot"), url("roboto-v18-latin-regular.woff2") format("woff2"), url("roboto-v18-latin-regular.woff") format("woff"), url("roboto-v18-latin-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*# sourceMappingURL=style_article.css.map */
