footer {
  font-family: 'Roboto', sans-serif;
}

.footer__header {
  background-color: $color-brand;
  padding: 35px 25px 30px 25px;
  @include screen-phone-l {
    padding: 35px 30px 30px 30px;
  }
  @include screen-tablet {
    padding: 35px 37px 30px 37px;
  }
  @include screen-desktop {
    padding: 35px 0 30px 0;
  }

  &--container {
    @include screen-phone-l {
      display: grid;
      grid-template-columns: 2.5fr 4fr;
    }
    @include screen-tablet {
      grid-template-columns: 2.8fr 3.6fr;
    }
    @include screen-desktop {
      grid-template-columns: 3fr 3.7fr;
      max-width: 1170px;
      padding: 0 37px 0 37px;
      margin: auto;
    }
  }

  &--text {
    color: $color-yellow-light;
    text-align: center;
    font-size: 18px;
    padding: 0 0 30px 0;
    line-height: 25px;
    @include screen-phone-l {
      text-align: left;
      padding: 0;
    }
    @include screen-tablet {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 22px;
    }
  }

  &--phone {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: row;
    font-family: 'League Spartan', sans-serif;
    font-weight: 900;
    align-items: center;
    flex-wrap: wrap;
    @include screen-phone-l {
      justify-content: flex-end;
    }
    @include screen-tablet {
      justify-content: flex-end;
    }
  }

  &--text--s {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding-right: 15px;
    @include screen-tablet {
      padding-right: 25px;
      font-size: 18px;
    }
  }

  &--text--l {
    font-size: 24px;
    font-weight: bold;
    padding-left: 15px;

    @include screen-tablet {
      padding-left: 25px;
    }
    @include screen-desktop {
      font-size: 30px;
    }
  }
}

.footer_container {
  padding-right: 20px;
  padding-left: 25px;
  @include screen-tablet {
    padding-left: 30px
  }
  @include screen-desktop {
    padding-left: 37px
  }
}

.footer__wrap {
  @include screen-tablet {
    display: grid;
    grid-template-columns: 1.8fr 1fr;
    width: 100%;
  }
  @include screen-desktop {
    max-width: 1170px;
    margin: auto;
  }
}

.footer {
  background-color: $color-black;
  background-image: url("image/aaa.png");
  background-position: top -120px left -250px;
  background-repeat: no-repeat;
  position: relative;
  @include screen-phone-l {
    background-position: top -130px left -110px;
  }
  @include screen-tablet {
    background-position: top -135px left -260px;
  }
  @include screen-desktop {
    background-position: top -130px left 0px;
  }

  &__logo {
    border-bottom: 1px solid $color-grey-dark-2;
    box-sizing: content-box;
    padding: 40px 0 35px 0;
  }
}

.address__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 25px 0 25px 0;

  @include screen-phone-l {
    grid-template-columns: 1.1fr 1fr 1.35fr;
  }
  @include screen-tablet {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.address__text {


  &__bold {
    color: $color-grey-light-7;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__normal {
    color: $color-grey-light-9;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.2;
    @include screen-phone-l {
      font-size: 14px;
    }
  }

  &__yellow {
    color: $color-brand;
  }
}

.footer__social {
  border-bottom: 1px solid $color-grey-dark-2;
  color: $color-grey-light-9;
  display: grid;
  font-size: 13px;
  font-weight: bold;
  grid-template-columns: 1fr 1fr;
  padding: 25px 0 25px 0;
  text-transform: uppercase;
  @include screen-phone-l {
    grid-template-columns: 2.1fr 1.35fr;
  }
  @include screen-tablet {
    grid-template-columns: 1fr 2fr;
  }

  &--icon:first-of-type {
    padding-right: 12px;
  }

  &--icon:nth-child(2) {
    padding-right: 12px;
  }

  &--title {
    font-family: 'League Spartan', sans-serif;
    font-weight: 900;
    font-size: 13px;
    color: $color-grey-light-17;
  }
}

.footer__nav {
  padding: 30px 0 30px 0;
  position: relative;
  z-index: 2;

  &--list {
    align-content: space-between;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
  }

  &--item {
    line-height: 25px;
    color: $color-white;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.footer__map {
  background-image: url(image/map.png);
  background-position: left 20% top 0;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 250px;
  padding: 0;

  &--btn {
    align-items: center;
    display: flex;
    filter: none;
    flex-direction: column;
    justify-content: center;
    min-height: 250px;
    z-index: 2;
    @include screen-tablet {
      align-items: flex-end;
      flex-direction: row-reverse;
      height: 100%;
      justify-content: flex-start;
      padding: 0 37px 30px 0;
    }
  }

  &--text {
    color: $color-brand;
    font-size: 14px;
    font-weight: bolder;
    margin-top: 20px;
    text-transform: uppercase;
    @include screen-tablet {
      margin-bottom: 25px;
      padding-right: 15px;
    }
  }
}

.footer__time4 {
  background-color: $color-grey-dark-2;
  color: $color-grey-light-14;
  padding: 30px 0 30px 0;
  position: relative;
  z-index: 2;

  &--p {
    text-align: center;
    font-size: 12px;
  }

  &--a {
    color: $color-grey-light-10;
    text-decoration: none;
  }
}
