.head{
  font-family: "League Spartan", serif;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  padding: 30px 25px;
  @include screen-phone-l {
    padding: 30px 30px;
  }
  @include screen-tablet {
    padding: 35px 37px;
  }
  @include screen-desktop {
    margin: auto;
    max-width: 1170px;
    padding: 35px 37px;
  }
  &__hamburger{
    @include screen-tablet {
      display: none;
    }
  }
}

.menu {
  display: none;
  position: relative;
  @include screen-tablet {
    display: flex;
    width:65%;
  }
  @include screen-desktop {
    width:60%;
  }
  &__ul{
    font-weight: bold;
    @include screen-tablet {
      display: flex;
      justify-content: space-between;
      list-style: none;
      width: 100%;
    }
  }
  &__li{
    &--a {
      @include screen-tablet {
        color: $color-grey-light-13;
        font-size: 12px;
        font-weight: bolder;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
      }
      &:hover {
        color: $color-brand;
        &:before {
          @include screen-tablet {
            border-bottom: 4px solid $color-brand;
            bottom: -46px;
            content: "";
            height: 1px;position: absolute;
            width: 100%;
          }
        }
      }
    }
  }
}
