@font-face {
  font-family: 'League Spartan';
  src:  url('leaguespartan-bold.eot'),
        url('leaguespartan-bold.woff2') format('woff2'),
        url('leaguespartan-bold.woff') format('woff'),
        url('leaguespartan-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:  url('roboto-v18-latin-regular.eot'),
        url('roboto-v18-latin-regular.woff2') format('woff2'),
        url('roboto-v18-latin-regular.woff') format('woff'),
        url('roboto-v18-latin-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

