@import "_variables.scss";
@import "mixins/screen";

*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

*:after, *:before{
  box-sizing: inherit;
}

html, body {
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

.font__league {
  font-family: 'League Spartan', sans-serif;
  font-weight: bolder;
}

.slider {
  background-color: $color-grey-dark-3;
  transition:0.3s background-image;
  align-items: center;
  background-image: url(image/slider1.png);
  background-position: left 53% top 0;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 65px 25px 25px 25px;
  position: relative;
  text-transform: uppercase;
  text-align: center;
  width:100%;
  @include screen-phone-l {
    padding: 85px 25px 25px 25px;
  }
  @include screen-tablet {
    padding: 185px 25px 55px 25px;
  }
  @include screen-desktop {
    padding: 185px 25px 85px 37px;
  }
  &__content{
    @include screen-desktop {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      max-width: 1170px;
      padding-left: 120px;
    }
    @include screen-desktop-xl {
      padding-left: 0;
    }
  }
}

.slider__slogan {
  @include screen-phone-l {
    padding: 0 10% 0 10%;
  }
  &--text {
    color: white;
    font-size: 36px;
    line-height: 48px;
    @include screen-phone-l {
      font-size: 48px;
      line-height: 50px;
    }
    @include screen-tablet {
      font-size: 55px;
      line-height: 58px;
      margin: auto;
      width: 75%;
    }
    @include screen-desktop {
      margin: 0;
      text-align: left;
    }
  }
  &--name {
    color: $color-grey-light-5;
    font-size: 24px;
    padding-bottom: 8px;
    @include screen-phone-l {
      font-size: 30px;
      padding-bottom: 25px;
    }
    @include screen-desktop {
       text-align: left;
     }
  }
}

.redirection {
  width: 100%;
  font-weight: bolder;
  font-size: 14px;
  &__container{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    @include screen-phone-l {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 50px 0 50px 0;
    }
    @include screen-tablet {
      margin: 60px 0 75px 0;
    }
    @include screen-desktop {
      justify-content: flex-start;
      margin: 65px 0 115px 0;
    }
  }
  &__btn{
    align-items: center;
    display: flex;
    height: 55px;
    justify-content: center;
    max-width: 300px;
    margin-bottom: 17px;
    width:100%;

    &:first-child{
      @include screen-phone-l {
        margin-right: 10px;
      }
    }
    @include screen-phone-l {
      max-width: 220px;
      margin: 20px 0 0 0;
    }
    @include screen-tablet {
      max-width: 240px;
      margin-top: 0;
    }
    &--yellow {
      background-color: $color-brand;
      color: $color-black;
      text-decoration: none;
    }
    &--black {
      background-color: $color-grey-dark-4;
      color: $color-brand;
      }
    }
    &__arrow--text{
      color: white;
      font-size: 16px;
      padding-bottom: 25px;
    }
    &__arrow--icon{
      display: flex;
      justify-content: center;
      margin: 20px 0 45px 0;
    }
  }

  .services{
    @include screen-phone-l {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    @include screen-desktop {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  .service{
      align-items: center;
      background-position: left 53% top -30px;
      background-repeat: no-repeat;
      display: flex;
      height: 250px;
      justify-content: center;
      @include screen-tablet {
        background-position: center;
        background-size: cover;
      }
      &__painting {
        background-image: url(image/painting_v.png);
      }
      &__paperhanging {
        background-image: url(image/paperhanging_v.png);
      }
      &__tiling {
        background-image: url(image/laying_tiles_v.png);
      }
      &__stackingPanels {
        background-image: url(image/stacking_panels_v.png);
      }
    &__btn{
      align-items: center;
      border: 2px solid $color-brand;
      color: $color-brand;
      font-family: 'League Spartan', sans-serif;
      font-size: 24px;
      font-weight: bold;
      justify-content: center;
      padding: 20px 25px 20px 25px;
      text-align: center;
      text-decoration: none;
      &--short{
        max-width: 220px;
      }
      &--long{
        max-width: 180px;
      }
    }
  }

.recommendations {
    background-color: $color-grey-dark-3;
    font-family: 'League Spartan', sans-serif;
    font-size: 14px;
    padding: 15px 25px 15px 25px;
    @include screen-phone-l {
      padding: 15px 30px 15px 30px;
    }
    @include screen-tablet {
      display: flex;
      justify-content: space-evenly;
      padding: 35px 40px 35px 40px;
    }
    @include screen-desktop {
      padding: 80px 40px 80px 40px;
      justify-content: center;
    }
  }

    .recommendation{
      align-content: center;
      align-items: center;
      border: 1px solid $color-grey-dark-1;
      display: flex;
      flex-direction: column;
      line-height: 25px;
      margin: 15px 0;
      padding: 0 40px 33px 40px;
      text-align: center;
      @include screen-tablet {
        margin: 0;
        padding: 0 25px 33px 25px;
      }
      @include screen-desktop {
        max-width: 450px;
      }
      &:nth-child(1){
        @include screen-tablet {
          margin-right: 15px;
        }
        @include screen-desktop {
          margin-right: 15px;
        }
      }
      &:nth-child(2){
        @include screen-tablet {
          margin-right: 15px;
        }
        @include screen-desktop {
          margin-right: 15px;
        }
      }
      &__image{
        margin: 33px 0;
      }
      &__name{
        color: $color-grey-light-11;
        font-weight: bold;
        text-transform: uppercase;
      }
      &__opinion{
        color: $color-grey-light-6;
      }
    }

.realizations {
  font-size: 20px;
  padding: 40px 25px 15px 25px;
  @include screen-phone-l {
    padding: 60px 30px 15px 30px;
  }
  @include screen-tablet {
    padding: 60px 37px 15px 37px;
  }
  @include screen-desktop {
    padding: 80px 37px 65px 37px;
    max-width: 1170px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  &__header {
    @include screen-tablet {
      display: grid;
      grid-template-columns: 1.5fr 2fr;
    }
    @include screen-desktop {
      display: grid;
      grid-template-columns: 1fr;
      margin-right: 40px;
    }
  }
  &__title{
    font-family: 'League Spartan', sans-serif;
    font-size: 30px;
    font-weight: 900;
    padding-bottom: 30px;
    text-transform: uppercase;
    @include screen-phone-l {
      padding-right: 20px;
    }
    @include screen-tablet {
      padding-bottom: 0;
    }
    @include screen-desktop {
      padding-bottom: 35px;
    }
  }
  &__describe{
    color: $color-grey-light-12;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 25px;
  }

  &__btn {
    display: flex;
    justify-content: space-between;
    padding: 35px 0 45px 0;
    @include screen-desktop {
      flex-direction: column;
    }
    &--more{
      color: $color-brand;
      font-family: 'League Spartan', sans-serif;
      font-weight: 700;
      font-size: 14px;
      text-decoration: none;
      text-transform: uppercase;
      @include screen-desktop {
        margin-top: 30px;
      }
    }
    &--arrow{
      padding-right: 20px;
      background: none;
      outline: none;
      border: none;
      cursor: pointer;
    }
  }
  &__container{
    @include screen-tablet {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 30px;
    }
  }
}

.realization {
  display: none;
  grid-template-rows: 2.3fr 1.8fr;
  margin-bottom: 15px;
  @include screen-phone-l {
    grid-template-columns: 4fr 3.2fr;
    grid-template-rows: 1fr;
  }
  @include screen-tablet {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  &__frame {
    background-position: left 20% top 0;
    background-repeat: no-repeat;
    background-size: cover;
    &--image {
      position: relative;
      transform: translate(-12%, -23%);
      width: 130%;
      @include screen-phone-l {
        position: center;
        transform: translate(-12%, 0);
        width: 200%;
      }
    }
  }
  &__describe {
    border: 1px solid $color-grey-light-1;
    padding: 35px 30px 35px 30px;
    @include screen-phone-l {
      padding: 35px 30px 45px 30px;
    }
    &--title{
      font-family: 'League Spartan', sans-serif;
      font-size: 18px;
      font-weight: 900;
      padding-bottom: 25px;
    }
    &--text{
      color: $color-grey-light-15;
      font-size: 14px;
      line-height: 24px;
    }
  }
}

.tiles_1{
  background-image: url(image/realisation1.png);
}

.tiles_2{
  background-image: url(image/realisation2.png);
}

.tiles_3{
  background-image: url(image/realisation3.png);
}


.tiles_4 {
  background-image: url(image/realisation4.png);
}

.tiles_5 {
  background-image: url(image/realisation5.png);
}

.tiles_6 {
  background-image: url(image/realisation6.png);
}

.tiles_7 {
  background-image: url(image/realisation7.png);
}

.tiles_8 {
  background-image: url(image/realisation8.png);
}


.mySlides{
  display: grid;
}

.slider__nav {
  left: 25px;
  right: 25px;
  width: calc(100% - 50px);
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  z-index: 4;
  @include screen-phone-l {
    position: absolute;
    top: calc(48%);
  }
  @include screen-tablet {
    position: absolute;
    top: calc(42%);
  }
  @include screen-desktop {
    left: 65px;
    right: 65px;
    width: calc(100% - 130px);
    position: absolute;
    top: calc(42%);
  }
  &--btn {
    background: none;
    cursor: pointer;
    width: 45px;
    height: 45px;
    border: 2px solid white;
      & > img{
        width: 15px;
        height: 20px;

        @include screen-tablet {
          width: 20px;
          height: 30px;
        }
      }
    @include screen-tablet {
      width: 80px;
      height: 80px;
    }
  }
}