$color-brand: #f8db14; // Main Primary color

//Yellow
$color-yellow-light: #aa9717;
$color-yellow-dark: #736718;

//Black
$color-black: #000000;
//White
$color-white: #ffffff;

//GreyLight
$color-grey-light-1: #e9e9e9;
$color-grey-light-2: #f0f0f0;
$color-grey-light-3: #dedede;
$color-grey-light-4: #efefef;
$color-grey-light-5: #d8d8d8;
$color-grey-light-6: #c6c6c6;
$color-grey-light-7: #a8a8a8;
$color-grey-light-8: #afafaf;
$color-grey-light-9: #808080;
$color-grey-light-10: #7f7f7f;
$color-grey-light-11: #595959;
$color-grey-light-12: #585858;
$color-grey-light-13: #4d4d4d;
$color-grey-light-14: #545454;
$color-grey-light-15: #8c8c8c;
$color-grey-light-16: #797979;
$color-grey-light-17: #666666;
$color-grey-light-18: #8f8f8f;
$color-grey-light-19: #636363;
$color-grey-light-20: #737373;

//GreyDark
$color-grey-dark-1: #333333;
$color-grey-dark-2: #1e1e1e;
$color-grey-dark-3: #1f1f1f;
$color-grey-dark-4: rgba(0, 0, 0, 0.51);
$color-grey-dark-5: #2e2e2e;
$color-grey-dark-6: #363636;
$color-grey-dark-7: #414141;
$color-grey-dark-8: #191919;


//Responsive breakpoints
$screen-phone-l: 481px;
$screen-tablet: 769px;
$screen-desktop: 1025px;
$screen-desktop-xl:1480px;
