$color-brand: #f8db14; // Main Primary color */

//Yellow
$color-yellow-light: #aa9717;
$color-yellow-dark: #736718;

//Black
$color-black: #000000;
//White
$color-white: #ffffff;

//GreyLight
$color-grey-light-1: #e9e9e9;
$color-grey-light-2: #f0f0f0;
$color-grey-light-3: #dedede;
$color-grey-light-4: #efefef;
$color-grey-light-5: #d8d8d8;
$color-grey-light-6: #c6c6c6;
$color-grey-light-7: #a8a8a8;
$color-grey-light-8: #afafaf;
$color-grey-light-9: #808080;
$color-grey-light-10: #7f7f7f;
$color-grey-light-11: #595959;
$color-grey-light-12: #585858;
$color-grey-light-13: #4d4d4d;
$color-grey-light-14: #545454;
$color-grey-light-15: #8c8c8c;

//GreyDark
$color-grey-dark-1: #333333;
$color-grey-dark-2: #1e1e1e;
$color-grey-dark-3: #1f1f1f;
$color-grey-dark-4: rgba(0, 0, 0, 0.51);













//Artykuł

$color-main-20: #414141;
$color-main-21: #191919;
$color-main-22: #8f8f8f;

$color-main-24: #636363;
$color-main-25: #737373;



/*
 * Responsive breakpoints
 */


$screen-phone-l: 481px;
$screen-tablet: 768px;
$screen-desktop: 1024px;
